@import 'susy';  
@import 'breakpoint'; 
@import 'variables';
$susy: (  
  columns: 16,  
  gutters: 1/4,  
  math: fluid,  
  output: float,  
  gutter-position: inside,  
  /*debug: (image:true),*/
);

body{
  font-family: '微軟正黑體';
  margin:0;
  position: relative;
  display: inline-block;
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.container{
  display: block;
  width:100%;
  max-width: 1000px;
  margin: 0 auto;
  visibility: hidden;
  .row{
    width:100%;
    display: inline-block;
    float: left;
  }
}
header{
  .rollback_main{
    width: 100%;
    display: inline-block;
    height: 54px;
    box-shadow: inset -1px 1px 0 #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    .rtr{
      display: table;
      width: 149px;
      height: 100%;
      border-collapse: collapse;
      border-right: 1px solid #b3b3b3;
      border-left: 1px solid #b3b3b3;
      cursor: pointer;
      &:active{
        background: #c3c3c3;
        color: white;
        transition: all .2s ease;
      }
      .rrow{
        display: table-row;
        .rcell{
          display: table-cell;
          height: 100%;
          vertical-align: middle;
          &.fic{
            font-size: 28px;
            width: 53px;
            text-align: center;
          }
          &.wr{
            letter-spacing: 6px;
          }
        }
      }
    }
  }
}

.show_case{
  margin-top: 55px;
  .main{
    display: inline-block;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    &::after{
      content: '';
      border-radius: inherit;
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      bottom: 0;
      border-color: transparent transparent #ffffff transparent;
      left: 0;
      border-width: 0px 100vw 40px 0px;
      @include breakpoint(1000px) {
        border-width: 0px 1000px 40px 0px;
      }
    }
  }
  .main_img{
    display: inline-block;
    width: 100%;
    margin-top: -150px;
    z-index: 1;
    position: relative;
    img{
      width: auto;
      max-width: 100%;
    }
  }
  h1{
    text-align: center;
    color: white;
    margin: 0;
    font-weight: 100;
    font-size: 30px;
    padding: 19px 10px 0 10px;
    @include breakpoint($phone) {
      padding: 67px 10px 0 10px;
      font-size: 40px;
    }
    @include breakpoint($pad) {
      padding: 72px 10px 0 10px;
      font-size: 51px;
    }
  }
  .description{
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 360px;
    margin-top: 32px;
    p{
      line-height: 28px;
      font-size: 15px;
      color:white;
      padding:0 10px;
      margin:0;
    }
  }
  .cta{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 200px;
    a{
      font-size: 18px;
      color: #ecf324;
      cursor: pointer;
    }
  }
}
#our_service{
    width: 100%;
    display: inline-block;
    background-color: #242424;
    padding: 105px 0 34px 0px;
    margin-top: -92px;
    position: relative;
    &::before{
      content: '';
      border-radius: inherit;
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      top: 0;
      border-color: #ffffff transparent transparent transparent;
      left: 0;
      border-width: 48px 100vw 0 0;
      @include breakpoint(1000px) {
        border-width: 48px 1000px 0 0;
      }
    }
  .service_content{
    max-width: 300px;
    width:100%;
    padding:0 10px;
    margin:0 auto;
    h1{
      color: #e55837;
      font-weight: 100;
      font-size: 28px;
      padding: 0;
      margin: 0;
    }
    .service_list{
      list-style: none;
      color: white;
      padding-left: 0;
      line-height: 33px;
      font-size: 16px;
      margin: 0;
    }
  }
}

#cta{
  display: inline-block;
  width:100%;
  text-align: center;
  margin: 64px 0 78px 0;
  a{
    position: relative;
    i{
      position: absolute;
      left: 5px;
      font-size: 26px;
    }
    padding:18px 44px;
    margin: 0;
    display: inline-block;
    color:white;
    background-color: #232428;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    &::before{
      content: '';
      border-radius: inherit;
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      top: 0;
      border-color: transparent #232428 transparent transparent;
      left: -25px;
      border-width: 32px 28px 32px 0px;
    }
    &::after{
      content: '';
      border-radius: inherit;
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      top: 0;
      border-color: transparent transparent transparent #232428;
      right: -25px;
      border-width: 32px 0px 32px 28px;
    }
  }
}

.notification{
  color:#a5a5a5;
}
footer{
  h1{
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color:#242323;
  }
  p{
    text-align: center;
    font-size: 14px;
    color:#242323;
  }
}